.facebook-header-icon {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

.facebook-header-left {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.header-inner {
    background: white;
    padding: 12px 15px 12px 15px;
    display: flex;
    justify-content: space-between;
}

.home-middle {
    padding-right: 20px;
}

.home-icon {
    cursor: pointer;
    background: #d2d2d2;
    border-radius: 50%;
    padding: 5px;
}

.notification-icon {
    cursor: pointer;
    background: #d2d2d2;
    border-radius: 50%;
    padding: 5px;
}

.message-icon {
    cursor: pointer;
    background: #d2d2d2;
    border-radius: 50%;
    padding: 5px;
}