.facebook-header-icon {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
}

.facebook-header-left {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.header-inner {
    background: white;
    padding: 12px 15px 12px 15px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:767px) {
    .header-inner {
        flex-direction: column;
    }

    .market-place {
        display: none;
    }

    .facebook-header-icon {
        display: none;
    }

    .home-middle {
        padding: 0px !important;
    }
}

.home-middle {
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.home-icon {
    cursor: pointer;
    background: #d2d2d2;
    border-radius: 50%;
    padding: 5px;
}

.notification-icon {
    cursor: pointer;
    background: #d2d2d2;
    border-radius: 50%;
    padding: 5px;
}

.message-icon {
    cursor: pointer;
    background: #d2d2d2;
    border-radius: 50%;
    padding: 5px;
}

.responsive {
    display: flex;
}

.divider {
    background: #dedede;
    width: 100%;
    height: 1px;
    margin: 10px 0px;
}